[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
requests = "*"
wordcloud = "*"
plotnine = "*"
pathlib = "*"
click = "*"
palettable = "*"
jupyter = "*"
notebook = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
